{% extends 'base.html' %}
{% block head %}
<h1>Api Consumption</h1>
{% endblock %}
{% block body %}
<hr>
<div class="content">
    <h1>Api_UserNow</h1>

    <table>
        <tr>
            <th>User Screen Name</th>
            <th>User Location</th>
            <th>Tweet</th>
        </tr>
        {% if tweets %}
        {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.user.screen_name }}</td>
                <td>{{ tweet.user.location }}</td>
                <td>{{ tweet.text }}</td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>
<hr>



{% endblock %}