{% extends 'base.html' %}

{% block head %}
<h1>Book Review</h1>
{% endblock %}

{% block body %}
<div class="content">
    <table>
        <tr>
            <th>title</th>
            <th>publication_date</th>
            <th>Comment</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Delete</a>
                <a href="">Update</a>
            </td>
        </tr>
        <form class="form-container" action="/"method="POST">
            <div class="form-group">
                <label for=""></label>
            <input type="text" name="title_book" id="title_book">
            </div>
            <input type="text" name="publication_date_book" id="publication_date_insert">
            <input type="text" name="comments_insert" id="comments_insert">
        </form>
    </table>

</div>
{% endblock %}